.categary-card {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.categary-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.div_padding {
  padding-bottom: 1rem;
  margin-top: 2.5rem;
}

mat-card:hover {
  box-shadow: red 0px 20px 20px 0px;
  transform: translatey(-20px);
}
