@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  background: #eee;
  color: #212121;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

mat-sidenav.mat-sidenav {
  background-color: #ffffff;
  padding: 0;
  width: 220px;
}
.mat-sidenav li {
  display: block;
  border-bottom: 1px solid rgb(181, 163, 220);
}
.mat-sidenav li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 12px;
  display: block;
}
.mat-sidenav li a:hover {
  background: #673ab794;
  color: #ffffff;
}

.sideBar-container {
  height: calc(100vh - 91px);
}
.panel-body {
  padding: 25px;
}

.sidebar-nav .mat-nav-list > .mat-list-item .mat-list-item-content {
  padding: 0 8px;
}
.full-width-input.mat-form-field {
  display: block;
  width: 100%;
}

mat-cell:not(:last-of-type),
mat-footer-cell:not(:last-of-type),
mat-header-cell:not(:last-of-type) {
  padding-right: 15px;
}

/*------------------------------------Responsive Css Start------------------------------------*/

@media only screen and (min-width: 767px) {
  /* Menu collepsed icon css */

  .sidebar-collapse .mat-sidenav {
    width: auto;
    padding: 0 !important;
    visibility: visible !important;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
    transition: all ease 0.5s;
  }
  .sidebar-collapse .mat-list-item-content span {
    display: none;
    transform: translateX(-150%);
    transition: all ease 0.5s;
  }

  .sidebar-collapse .panel-body {
    padding-left: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .btn-panel {
    padding: 10px 10px;
  }
  .btn-panel > button {
    min-width: auto;
  }
  .mt-xs-30 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .panel-body {
    padding: 15px;
  }
  .mat-row {
    min-height: auto;
  }
  .mat-row + .mat-row {
    margin-top: 15px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    width: 100%;
    display: flex;
  }

  .mat-cell,
  .mat-footer-cell {
    padding: 0 !important;
  }

  .mat-cell,
  .mat-footer-cell {
    width: 100%;
  }

  .mat-row.ng-trigger-detailExpand {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .horizontal-colum-scroll mat-cell,
  .horizontal-colum-scroll mat-footer-cell,
  .horizontal-colum-scroll mat-header-cell {
    width: 100%;
  }

  .horizontal-colum-scroll {
    display: block;
    flex-wrap: inherit;
  }
}

@media (max-width: 480px) {
  .mat-horizontal-stepper-header .mat-step-label {
    font-size: 0;
  }
  .mat-cell,
  .mat-footer-cell {
    flex-direction: column;
  }
}

.mat-card {
  padding: 15px !important;
}
.section-title {
  margin-bottom: 20px;
}
